<a href="https://colab.research.google.com/github/LuisSalgadoAlz/Tarea-2.1/blob/main/Tarea_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4313]:
import pandas as pd

datos = pd.read_csv('U4_01_housing.csv')

In [4314]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [4315]:
datos_na = datos.dropna() # eliminar los registros nulos

In [4316]:
datos_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [4317]:
# Dummies
dummies = pd.get_dummies(datos_na['ocean_proximity'], dtype=int)

In [4318]:
#union de los dummies al dataframe
datos_na = datos_na.join(dummies)

In [4319]:
#eliminar la columna que no necesito
datos_na = datos_na.drop(['ocean_proximity'], axis=1)

In [4320]:
#valores correlacionados del median_house_value
datos.corr()['median_house_value'].sort_values(ascending=False)

<ipython-input-4320-3581909a19a5>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  datos.corr()['median_house_value'].sort_values(ascending=False)

median_house_value    1.000000
median_income         0.688075
total_rooms           0.134153
housing_median_age    0.105623
households            0.065843
total_bedrooms        0.049686
population           -0.024650
longitude            -0.045967
latitude             -0.144160
Name: median_house_value, dtype: float64

In [4321]:
#agregar caracteristica de ratio de habitaciones de dormir
datos_na['room_ratio'] = datos_na['total_bedrooms'] / datos_na['total_rooms']

# Es relevante para evaluar el tamaño promedio de las viviendas en relación con el número de hogares.
datos_na['habitaciones_por_hogar'] = datos_na['total_rooms'] / datos_na['households']

# Ayuda a saber cuánto dinero gana la gente en promedio por cada persona en un área.
datos_na['ingresos_poblacion'] = datos_na['median_income'] / datos_na['population']

In [4322]:
datos_na.corr()['median_house_value'].sort_values(ascending=False)

median_house_value        1.000000
median_income             0.688355
<1H OCEAN                 0.257614
NEAR BAY                  0.160526
habitaciones_por_hogar    0.151344
NEAR OCEAN                0.140378
total_rooms               0.133294
ingresos_poblacion        0.114895
housing_median_age        0.106432
households                0.064894
total_bedrooms            0.049686
ISLAND                    0.023525
population               -0.025300
longitude                -0.045398
latitude                 -0.144638
room_ratio               -0.255880
INLAND                   -0.484787
Name: median_house_value, dtype: float64

In [4323]:
# Tenemos que los valores correlativos de las nuevas caracteristicas pasan de 0.1+
# habitaciones_por_hogar    0.151344
# ingresos_poblacion        0.114895
# room_ratio               -0.255880

In [4324]:
X = datos_na.drop(['median_house_value'], axis=1) #eliminar una columna
cond = (X['housing_median_age'] < 45) & (X['median_income'] < 14)
X = X[cond]
#la etiqueta de salida o resultado
y = datos_na[cond]['median_house_value']

In [4325]:
datos_na.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,room_ratio,habitaciones_por_hogar,ingresos_poblacion
count,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000
mean,-119.570689,35.633221,28.633094,2636.504233,537.870553,1424.946949,499.433465,3.871162,206864.413155,0.442128,0.317917,0.000245,0.111095,0.128615,0.213039,5.431344,0.005310
std,2.003578,2.136348,12.591805,2185.269567,421.385070,1133.208490,382.299226,1.899291,115435.667099,0.496652,0.465678,0.015641,0.314257,0.334782,0.057983,2.482946,0.019082
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.846154,0.000072
25%,-121.800000,33.930000,18.000000,1450.000000,296.000000,787.000000,280.000000,2.563700,119500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.175427,4.441441,0.001763
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.536500,179700.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.203162,5.230769,0.003002
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.000000,604.000000,4.744000,264700.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.239821,6.052381,0.005030
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,141.909091,1.153854

In [4326]:
# separar el conjunto de caracteristicas en datos de prueba y entrenamiento
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test  = train_test_split(X, y, test_size=.20)

In [4327]:
#entrenar el modelo
from sklearn.linear_model import LinearRegression
modelo = LinearRegression()
modelo.fit(X_train, y_train) # ocurre el entrenamiento

LinearRegression()

In [4328]:
# reralizar las predicciones
predicciones = modelo.predict(X_test)

In [4329]:
modelo.score(X_train, y_train)

0.6621356869515203

In [4330]:
modelo.score(X_test, y_test)

0.6915790624163505

In [4331]:
from sklearn.metrics import mean_squared_error
import numpy as np
mse = mean_squared_error( y_test, predicciones )
mse = np.sqrt(mse)
mse

61860.83715835146